.content {
  position: relative;
  min-height: 100vh;
}

.footer {
  text-align: center;
}

.authContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /* background: url(../assets/images/bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
