.card {
  background-color: white;
  border-radius: 0.5rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: contain;
  border-radius: 0.5rem;
  z-index: 0;
}

.description {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}
